body {
    font-family: "Open Sans",sans-serif;
    background-color: #f4f4fd;
    color: #3a3a3a;
    scroll-behavior: smooth;
}


.site-header{
    position:relative;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width:50%;
    
    
}

.site-header .header-image {
    vertical-align: middle;
    width:750px;
}

.topnav {
    background-color: #1e73be;
    overflow: hidden;
    padding: 7px;
    width: 100%;
  }
  .items{
    padding-left: 23%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav button {
    float: left;
    background-color: #1e73be;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #f2f2f2;
    border: none;
  }
  
  .topnav a:hover {
    background-color: #222222    ;
    color: #f2f2f2;
  }
 
   .topnav button:hover {
    background-color: #222222    ;
    color: #f2f2f2;
  }
  

  h2 {
    font-weight: bold;
    text-align:right;
    padding-right: 55%;
    vertical-align: top;
  }

  h3{
    text-align: right;
    padding-right: 55%;
  }

  .input {
    vertical-align: top;
    width: 515px;
  }

  .personal-details {
    padding-left: 13%;
  }

  .comments {
    width: 505px;
    display: block;
    margin: 0 auto 8px;
    padding: 15px;
  }

.submit {
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 120px;
}
.search {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 515px;
  left: -355px;
  position: relative;
}
  


.centered-table {
  display: block;
  margin: 0 auto;
  padding: 15px;
  width: 515px;
  left: -355px;
  position: relative;
  border-collapse: collapse;
  width: 40%;
}

.centered-table th, .centered-table td {
  border: 1px solid #222222; 
  padding: 10px; 
}

.centered-table th {
  background-color: #f2f2f2; 
}

.logo-image {
  top: -100px;
  position: relative;
  left: 1025px;
}

